@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhai+2:wght@400..800&family=Protest+Guerrilla&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.main-content {
  width: 100%;
  height: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

#logo {
  width: 30vw;
  margin-top: 50px;
  border-radius: 10px;
}

h1 {
  color: aliceblue;
  font-size: 2.5rem;
  font-family: "Protest Guerrilla", sans-serif;
}
#name {
  color: rgb(218, 21, 67);
  font-size: 45px;
}
#va {
  color: aquamarine;
  font: 40px;
}

.voice-animation {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);

  /* ---CSS FOR CROPPING --- */
  width: 300px; /* Set the container width the same as the GIF */
  height: 300px; /* Set the container height the same as the GIF */
  overflow: hidden; /* Hides content that spills outside this div */
  display: flex; /* Helps center the image inside the cropped view */
  justify-content: center;
  align-items: center;
}

#voice {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}

#btn {
  width: 50vw;
  background: linear-gradient(to right, rgb(210, 6, 149), blue);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  border-radius: 16px;
  color: white;
  box-shadow: 2px 2px 10px rgb(99, 182, 237), 2px 2px 10px rgb(210, 6, 149);
  border: 1px solid rgb(210, 6, 149);
  transition: 0.4s;
  cursor: pointer;
}
#btn:hover {
  box-shadow: 2px 2px 15px rgb(99, 182, 237), 2px 2px 20px rgb(210, 6, 149);
  letter-spacing: 1px;
}
